.login-form
  background-color: white;
  border-radius: 5px;
  max-width: 400px;
  padding: 2em;
  margin: 1em auto;

  h1
    color: #0054af;
    font-size: 28px;
    font-weight: lighter;
    margin: 0 0 10px;
    text-transform: uppercase;

  hr
    border: 0;
    border-bottom: 1px solid #CCC;
    margin: 0 0 10px;

.login-header
  color: white
  margin: 10em auto 0;
  padding: 0;
  width: 400px;

  img
    max-height: 40px;

  span.divider
    background-color: white;
    display: inline-block;
    height: 40px;
    margin: 0 1.2em 0 .8em;
    width: 1px;
