.panel
  background-color: white
  border-radius: 5px
  margin: 3em auto
  max-width: 1170px

  .panel-header
    border-bottom: 1px solid #efefef;
    padding: 20px;

    h2
      color: #0054af;
      font-size: 26px;
      font-weight: lighter;
      margin: 0
      text-transform: uppercase

  .panel-body
    padding: 10px 20px

.data-item
  align-items: center
  border-bottom: 1px solid #CCC
  display: block
  justify-content: space-between
  padding: 20px 0
  @media screen and (min-width: 968px)
    display: flex

  &:last-child
    border-bottom: 0

  .data-item__content
    display: inline-block
    margin-top: 1em
    width: 50%
    text-align: center
    @media screen and (min-width: 968px)
      margin-top: 0
      width: 25%
      text-align: center

    &.--main
      width: 100%
      text-align: left
      @media screen and (min-width: 968px)
        width: 50%

    &:last-child
      text-align: center
      @media screen and (min-width: 968px)
        text-align: right

  .data-item__label
    color: #b1b1b1
    font-size: 14px
    font-weight: bold
    margin: 0 0 -5px
    text-transform: uppercase

  .data-item__title
    color: #0084ff
    font-size: 22px
    margin: 0

  .data-item__description
    color: #666;
    font-size: 15px;

  .data-item__forks,
  .data-item__stars
    color: #fd9307;
    font-size: 36px;
    font-weight: bold;