<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar__brand">
      <img src="/assets/image/logo/github-logo.png" alt="">
      <span class="divider"></span>
      <img src="/assets/image/logo/pan-logo.svg" alt="">
    </div>
  </div>
  <div class="navbar__content">

  </div>
</nav>

<div class="panel">
  <div class="panel-header">
    <h2>Seus repositórios</h2>
  </div>
  <div class="panel-body">
    <div class="data-item">
      <div class="data-item__content --main">
        <!-- <p class="data-item__label">repositório</p> -->
        <h3 class="data-item__title">github-pan</h3>
        <div class="data-item__description">Teste técnico para o processo de seleção do Banco Pan</div>
      </div>
      <div class="data-item__content">
        <p class="data-item__label">stars</p>
        <span class="data-item__stars">2</span>
      </div>
      <div class="data-item__content">
        <p class="data-item__label">forks</p>
        <span class="data-item__forks">13</span>
      </div>
    </div>
    <div class="data-item">
      <div class="data-item__content --main">
        <!-- <p class="data-item__label">repositório</p> -->
        <h3 class="data-item__title">server-js</h3>
        <div class="data-item__description">Server-js a simple REST API server that stores people's data using Express and MongoDB and deployed on Heroku</div>
      </div>
      <div class="data-item__content">
        <p class="data-item__label">stars</p>
        <span class="data-item__stars">0</span>
      </div>
      <div class="data-item__content">
        <p class="data-item__label">forks</p>
        <span class="data-item__forks">7</span>
      </div>
    </div>
    <div class="data-item">
      <div class="data-item__content --main">
        <!-- <p class="data-item__label">repositório</p> -->
        <h3 class="data-item__title">basicScroll</h3>
        <div class="data-item__description">Standalone parallax scrolling for mobile and desktop with CSS variables.</div>
      </div>
      <div class="data-item__content">
        <p class="data-item__label">stars</p>
        <span class="data-item__stars">0</span>
      </div>
      <div class="data-item__content">
        <p class="data-item__label">forks</p>
        <span class="data-item__forks">136</span>
      </div>
    </div>
  </div>
</div>
