@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*
  box-sizing: border-box

body
  background-image: linear-gradient(to top, #00458e, #003870, #002b53, #021e37, #020f1d);
  // background-image: linear-gradient(to right top, #007bff, #0065d0, #004fa2, #003976, #00254d)
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh
